body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
}

.features, .download {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  background-color: #222;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-text {
  text-align: center;
  flex-grow: 1;
}

.logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.left-logo {
  margin-right: 20px;
}

.right-logo {
  margin-left: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}